<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNSHA-512 Hash Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>DNSHA-512 Hash Calculator</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="input_text">Enter text:</label>
            <input type="text" id="input_text" name="input_text">
            <label for="file">Upload a file:</label>
            <input type="file" id="file" name="file" onchange="updateFileName(this)">
            <button type="submit">Calculate Hash</button>
        </form>
        {% if hash_result %}
        <h2>Result:</h2>
        <p>Input Text: <br> {{ input_text }}</p>
        {% autoescape false %}
        <p>Hash Result: <br> {{ hash_result }}</p>
        {% endautoescape %}
        {% endif %}
    </div>

    <script>
        function updateFileName(input) {
            var fileName = input.files[0].name;
            document.getElementById('input_text').value = fileName;
        }
    </script>
</body>
</html>
